<!doctype html>
<html class="no-js" ng-app="ngApp">
	<head>
		<meta charset="utf-8">
		<title>JacekK.Canvas.Bubbles2.0</title>
		<meta name="Author" content="www.jacek-k.net" />
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<link rel="shortcut icon" href="/favicon.ico">
		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<!-- build:css(.) styles/vendor.css -->
		<!-- bower:css -->
		<!-- endbower -->
		<!-- endbuild -->
		<!-- build:css(.tmp) styles/main.css -->
		<link rel="stylesheet" href="styles/main.css">
		<!-- endbuild -->
	</head>
	<body>
		<div id="display-options" ng-controller="OptionsController" ng-init="init()">
			<div class="option-group">
				<label>Size range</label>
				<select
					ng-model="models.minSize"
					ng-options="item for item in ranges.sizeRange"
					ng-change="onOptionChange('minSize')"
				></select>
				<select
					ng-model="models.maxSize"
					ng-options="item for item in ranges.sizeRange"
					ng-change="onOptionChange('maxSize')"
				></select>
			</div>
			<div class="option-group">
				<label>Amount</label>
				<select
					ng-model="models.amount"
					ng-options="item for item in ranges.amountRange"
					ng-change="onOptionChange('amount')"
				></select>
			</div>
			<div class="option-group">
				<label>Delay</label>
				<select
					ng-model="models.delay"
					ng-options="item for item in ranges.delayRange"
					ng-change="onOptionChange('delay')"
				></select>
			</div>
			<div class="delimiter"></div>
			<div class="option-group">
				<label>Red</label>
				<select
					ng-model="models.red"
					ng-options="item for item in ranges.colorRange"
					ng-change="onOptionChange('red')"
				></select>
			</div>
			<div class="option-group">
				<label>Green</label>
				<select
					ng-model="models.green"
					ng-options="item for item in ranges.colorRange"
					ng-change="onOptionChange('green')"
				></select>
			</div>
			<div class="option-group">
				<label>Blue</label>
				<select
					ng-model="models.blue"
					ng-options="item for item in ranges.colorRange"
					ng-change="onOptionChange('blue')"
				></select>
			</div>
			<div class="option-group">
				<label>Stroke Width</label>
				<select
					ng-model="models.strokeWidth"
					ng-options="item for item in ranges.strokeWidths"
					ng-change="onOptionChange('strokeWidth')"
				></select>
			</div>
			<div class="option-group">
				<label>Stroke Opacity</label>
				<select
					ng-model="models.strokeOpacity"
					ng-options="item as item|fixed for item in ranges.zeroToOneRange"
					ng-change="onOptionChange('strokeOpacity')"
				></select>
			</div>
			<div class="option-group">
				<label>Center Opacity</label>
				<select
					ng-model="models.centerOpacity"
					ng-options="item as item|fixed for item in ranges.zeroToOneRange"
					ng-change="onOptionChange('centerOpacity')"
				></select>
			</div>
			<div class="option-group">
				<label>Side Opacity</label>
				<select
					ng-model="models.sideOpacity"
					ng-options="item as item|fixed for item in ranges.zeroToOneRange"
					ng-change="onOptionChange('sideOpacity')"
				></select>
			</div>
		</div>
		<canvas id="display-area">Canvas element not supported.</canvas>

		<!-- build:js(.) scripts/vendor.js -->
		<!-- bower:js -->
		<!-- endbower -->
		<!-- endbuild -->

		<!-- build:js({app,.tmp}) scripts/main.js -->
		<script src="bower_components/angular/angular.js"></script>
		<script src="js/main.js"></script>
		<!-- endbuild -->
</body>
</html>
